In [1]:
import pandas as pd

data = pd.Series([5,4,-1,9])
data

0    5
1    4
2   -1
3    9
dtype: int64

In [5]:
data.values

array([ 5,  4, -1,  9], dtype=int64)

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data2 = pd.Series([8,-5,0,2], index=['A','B','C','D'])
data2

A    8
B   -5
C    0
D    2
dtype: int64

In [9]:
data2['B']

-5

In [11]:
data2['B'] = -10
data2

A     8
B   -10
C     0
D     2
dtype: int64

# dataframe
행 : index 열 : columns
person_a = {‘이름‘: ‘홍길동‘, ‘나이’: 24, ‘수강과목’: 
[‘지능정보시스템‘, ‘캡스톤디자인(1)’, ‘프로그래밍입문’], ‘a’: [1,2,3]}

In [2]:
import pandas as pd
a = [1,2,3]
a
df = pd.DataFrame(a)
df

   0
0  1
1  2
2  3

In [3]:
import numpy as np
b = np.array([1,2,3])
b
df2 = pd.DataFrame(b)
df2

   0
0  1
1  2
2  3

In [4]:
df = pd.DataFrame(a,index=['1번','2번','3번'],columns=['A'])
df

    A
1번  1
2번  2
3번  3

In [6]:
c= [[1,2,3],[4,5,6]]
d = np.array(c)
d

array([[1, 2, 3],
       [4, 5, 6]])

In [7]:
d.shape

(2, 3)

In [8]:
df = pd.DataFrame(d,index=['1번','2번'],columns=['A','B','C'])
df

    A  B  C
1번  1  2  3
2번  4  5  6

# Dictionary 변환하기
Dictionary의 키(key)는 컬럼명(columns)으로, 값(value)은 해당 컬럼 데이터로 변환됨
key -> 문자열
value -> pythonlist 혹은 numpy array로 dictionary 구성

In [11]:
a = {'key1':[1,2,3], 'key2':[20,30,40], 'key3':[32,52,72]}
a

{'key1': [1, 2, 3], 'key2': [20, 30, 40], 'key3': [32, 52, 72]}

In [12]:
df = pd.DataFrame(a)
df

   key1  key2  key3
0     1    20    32
1     2    30    52
2     3    40    72

In [13]:
df = pd.DataFrame(a, columns=['key2','key3','key1'])
df

   key2  key3  key1
0    20    32     1
1    30    52     2
2    40    72     3

In [43]:
dt = {'제목':['유미의 세포들','기기괴괴','프리드로우'],'작가':['이동건','오성대','전선욱'],'장르':['에피소드','옴니버스','스토리']}
dt

{'제목': ['유미의 세포들', '기기괴괴', '프리드로우'],
 '작가': ['이동건', '오성대', '전선욱'],
 '장르': ['에피소드', '옴니버스', '스토리']}

In [44]:
frame = pd.DataFrame(dt)
frame

        제목   작가    장르
0  유미의 세포들  이동건  에피소드
1     기기괴괴  오성대  옴니버스
2    프리드로우  전선욱   스토리

In [48]:
frame = pd.DataFrame(dt,columns=['장르','작가','제목'])
frame

     장르   작가       제목
0  에피소드  이동건  유미의 세포들
1  옴니버스  오성대     기기괴괴
2   스토리  전선욱    프리드로우

In [67]:
frame = pd.DataFrame(dt,index=['1번','2번','3번'])
frame

         제목   작가    장르
1번  유미의 세포들  이동건  에피소드
2번     기기괴괴  오성대  옴니버스
3번    프리드로우  전선욱   스토리

In [69]:
frame['작가']

1번    이동건
2번    오성대
3번    전선욱
Name: 작가, dtype: object

In [72]:
frame.T

         1번    2번     3번
제목  유미의 세포들  기기괴괴  프리드로우
작가      이동건   오성대    전선욱
장르     에피소드  옴니버스    스토리

In [73]:
frame['작가']

1번    이동건
2번    오성대
3번    전선욱
Name: 작가, dtype: object