## 201701633_전민영 실습

In [9]:
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm
date_list = pd.date_range('2018-04-02',periods=200,freq='D')

movie_title = []
movie_point = []
movie_date = []
for today in tqdm(date_list):
    url = "https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=pnt&date=" + today.strftime('%Y%m%d')
    html = urlopen(url)
    
    soup = BeautifulSoup(html.read(), "html.parser")
    
    titles = soup.find_all('div',{'class':'tit5'}) # 50
    points = soup.find_all('td',{'class':'point'}) # 50
    
    titles_text = []
    points_text = []
    date = []
    for t, p in zip(titles, points):
        titles_text.append(t.text.strip(' \n'))
        points_text.append(float(p.text))
        date.append(today)
        
    movie_title += titles_text
    movie_point += points_text
    movie_date += date
    
frame = pd.DataFrame({'date': movie_date, 'title': movie_title, 'point': movie_point})
frame

import numpy as np

pd.options.display.float_format = '{:.2f}'.format
movie_point2 = pd.pivot_table(frame, values=['point'], index=['title'], aggfunc=np.mean)
movie_point2_sort = movie_point2.sort_values(by='point',ascending=False)
movie_point2_sort.head(10)

  0%|          | 0/200 [00:00<?, ?it/s]

           point
title
당갈          9.56
아일라         9.52
덕구          9.49
허스토리        9.42
쇼생크 탈출      9.41
원더          9.41
터미네이터 2     9.40
인생은 아름다워    9.39
매트릭스        9.39
죽은 시인의 사회   9.38

### 1) 2018-04-02이후 200일의 기간을 설정 한 이유는 제가 군 입대를 2018/04/02에 했고 그 이후 영화를 보러 가기위해 휴가를 나가기까지 약 200일 사이에 영화순위가 어땠는지 궁금해서 기간을 설정했습니다.

### 2) 평균 평점이 가장 높았던 영화는 '당갈'이고, 역시 군인 신분이었을 당시 개봉한 영화 다 보니 평점 상위 10개의 영화 중 아는 영화가 거의 없습니다.